.text-container{
  width: 1085px!important;
  min-width: 1085px!important;
  margin-top: 90px;
  margin:auto;
}
.text-content{
  width:720px;
  margin:0 auto;
  text-align: left;
}
.text-content div{
  border-top:1px solid  rgba(105,105,105,0.2);
  font-size: 0.88rem;
  padding:26px 0;
  font-weight: 350;
  margin: 20px auto;
}